<div class="g-sidenav-show  bg-gray-100">

  <aside style="height: 100%; overflow: hidden;" class="bg-gray-100 sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 " id="sidenav-main">
    <div class="col-6 col-xl-2">
      <h1 class="mb-0 site-logo">
        <a href="index.html" class="h2 mb-0">
          <img src="/assets/images/MF-Bank.png"  class="logo-img" style="width: 150px;">
        </a>
      </h1>
    </div>

    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse  w-auto " style="height: 100%; overflow: hidden;" id="sidenav-collapse-main">
      <ul class="navbar-nav" style="height: 100%; overflow: hidden;">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" [routerLinkActive]="'active'">
            <div class="icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <svg width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path fill="#A1C15A" d="M3 13h8V3H3v10zm10 8h8v-6h-8v6zm-10 0h8v-6H3v6zm10-8h8V3h-8v10z"/>
              </svg>
            </div>
            <span class="nav-link-text ms-1">Dashboard</span>
          </a>
        </li>



        <li class="nav-item">
          <a class="nav-link" routerLink="/profil" [routerLinkActive]="'active'">
            <div class="icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <svg width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path fill="#A1C15A" d="M12 2a5 5 0 0 1 5 5v1a5 5 0 0 1-10 0V7a5 5 0 0 1 5-5Zm0 12c4.42 0 8 3.58 8 8h-2a6 6 0 1 0-12 0H4c0-4.42 3.58-8 8-8Z"/>
              </svg>
            </div>
            <span class="nav-link-text ms-1">Profile</span>
          </a>
        </li>



        <li class="nav-item">
          <a class="nav-link" routerLink="/Chat" [routerLinkActive]="'active'">
            <div class="icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <svg width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path fill="#A1C15A" d="M4 3h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2h-4l-4 4-4-4H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2Zm2 4v2h12V7H6Zm0 4v2h10v-2H6Zm0 4v2h6v-2H6Z"/>
              </svg>
            </div>
            <span class="nav-link-text ms-1">Chat</span>
          </a>
        </li>


        <li class="nav-item">
          <a class="nav-link" routerLink="/Faq" [routerLinkActive]="'active'">
            <div class="icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <svg width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path fill="#A1C15A" d="M12 2a10 10 0 1 0 10 10A10.012 10.012 0 0 0 12 2Zm0 18a8 8 0 1 1 8-8 8.01 8.01 0 0 1-8 8ZM11 17h2v2h-2Zm1-12a4 4 0 0 0-4 4h2a2 2 0 1 1 2 2 1 1 0 0 0-1 1v2h2v-1a3 3 0 0 0 1-5.83A4 4 0 0 0 12 5Z"/>
              </svg>
            </div>
            <span class="nav-link-text ms-1">FAQ</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/Users" [routerLinkActive]="'active'">
            <div class="icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path fill="#A1C15A" d="M16 7a4 4 0 1 1-8 0 4 4 0 0 1 8 0Zm-2 5H6a5 5 0 0 0-5 5v3h2v-3a3 3 0 0 1 3-3h8a3 3 0 0 1 3 3v3h2v-3a5 5 0 0 0-5-5ZM21 14h-3.5a1 1 0 0 0 0 2H21a1 1 0 0 1 1 1v3h2v-3a3 3 0 0 0-3-3ZM17.5 12a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm-11 0a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7ZM3 14h3.5a1 1 0 0 1 0 2H3a1 1 0 0 0-1 1v3H0v-3a3 3 0 0 1 3-3Z"/>
              </svg>
            </div>
            <span class="nav-link-text ms-1">Users</span>
          </a>
        </li>


      </ul>
    </div>

  </aside>
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
      <div class="container-fluid py-1 px-3">
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">

            <!-- Logout -->
            <a class="nav-link d-flex align-items-center me-3" (click)="onLogout()" routerLink="/login">
              <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                  <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                </svg>
              </div>
            </a>

            <!-- Profile -->


            <a class="nav-link d-flex align-items-center" (click)="profile()">
              <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                <svg width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path fill="#A1C15A" d="M12 2a5 5 0 0 1 5 5v1a5 5 0 0 1-10 0V7a5 5 0 0 1 5-5Zm0 12c4.42 0 8 3.58 8 8h-2a6 6 0 1 0-12 0H4c0-4.42 3.58-8 8-8Z"/>
                </svg>
              </div>
              <span>{{ securityService.profile?.firstName?.toUpperCase() }} {{ securityService.profile?.lastName?.toUpperCase() }}</span>
            </a>
          </div>


        </div>
      </div>
    </nav>
    <!-- End Navbar -->
  </main>
</div>

